<div class='container mt-3'>
  <h1><%= @list.name %></h1>
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <%= movie.title %>
    <%= movie.overview %>
    <%= movie.rating %>
    <%= image_tag movie.poster_url %>
  <% end %>


  <div>
  <h2>Create a new Bookmark for this list</h2>
    <%= simple_form_for([@list, @bookmark]) do |f| %>
      <%= f.association :movie, collection: Movie.all, prompt: "Select a movie" %>
      <%= f.input :comment %>
      <%= f.submit %>
    <% end %>
  </div>

  <%= link_to "Go back to the lists", lists_path %>
</div>
